body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calc-container {
    background-color: antiquewhite;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    border: 2px solid black;
}

.row {
    display: flex;
    gap: 10px;
    height: 60px;
}

button {
    font-size: 32px;
    width: 60px;
    border: 2px solid black;
    border-radius: 5px;
}

#btn-0 {
    width: 50%;
}

.btn-wide {
    width: fit-content;
}