body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

#calc-container {
    background-color:rgb(93 115 156);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#display {
    border: 2px solid black;
}

.row {
    display: flex;
    gap: 5px;
    height: 60px;
}

.btn {
    font-size: 32px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(3, 159, 159);
}

.btn:hover {
    background-color: rgb(2, 137, 137);
}

.btn:active {
    border-style: inset;
    background-color: rgb(1, 117, 117);
}


.operator, #equals {
    background-color: rgb(210, 105, 30);
}

.operator:hover, 
#equals:hover {
    background-color: rgb(226, 132, 50);
}
.operator:active,
#equals:active {
    border-style: inset;
    background-color: rgb(226, 142, 81);
}

.active {
    border-style: inset;
    background-color: rgb(226, 142, 81); 
}

#btn-0 {
    width: 50%;
}

.btn-wide {
    width: fit-content;
}